@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bgDark:#0f172a;
  --bgLight:#f9f9fb;
  --bg:#1e293b;
  --bgAlt:#f9f9fb;
  --textDark:#000000;
  /* --textDark:#0d0e17; */
  --textPaid:#33d7a0;
  --textPending:#ff9100;
  --textLight:#e0e4fb;;
}

.dark{
  background-color: var(--bgDark);
  color: var(--textDark);
}

.light{
  color: var(--textDark);
  background-color: var(--bglight);
}

::-webkit-scrollbar{
  display: none;
}

.theme{
  width: 100vw;
  /* overflow: hidden; */
}

body {
  margin: 0;
  padding: 0;
}
